body {
    background-color: #eee;
}

.side-nav .logo-sn {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.side-nav .logo-sn img {
    height: 38px;
}

.side-nav .search-form input[type=text] {
    margin-top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.accordion .card {
    margin-bottom: 1.2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .accordion .card .card-body {
    border-top: 1px solid #eee;
  }
.side-nav .sidenav-bg {

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 15rem;
    z-index: -1;
    background-attachment: fixed;

}

.light-blue-skin .side-nav .sidenav-bg.mask-strong::after, .light-blue-skin .side-nav .sidenav-bg::after {

    background: rgba(87,134,180,0.8)!important ;

}
.side-nav .sidenav-bg::after {

    width: 100%;
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    margin-bottom: -99999px;
    padding-bottom: 99999px;

}

.sn-bg-4 {
 background-image:url(../img/sidebar-nav/sidenav4.jpg);
}

.side-nav .logo-sn {
padding-bottom: 1rem;
padding-top: 1rem;
}

.side-nav .logo-sn img {
height: 38px;
}

.side-nav .search-form input[type=text] {
margin-top: 0;
border-top: 1px solid rgba(255, 255, 255, 0.3);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.accordion .card {
margin-bottom: 1.2rem;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.accordion .card .card-body {
border-top: 1px solid #eee;
}